@model MVCIntroduction.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DogConfirm</title>
</head>
<body>
    <div> 
        <h1>We think you'd like a:</h1>

        <h2>@Model.BreedName, because...</h2>

        <p>
            Activity Level: @Model.ActivityLevel<br />
            Shedding Level: @Model.SheddingLevel<br />
            Grooming Difficulty: @Model.GroomingLevel<br/>
            Intelligence: @Model.IntelligenceLevel<br />
            Coat Length: @Model.Coatlength<br />
            Size: @Model.Size<br /><br />

            Drools a lot: @Model.Drools<br />
            Okay with kids: @Model.GoodWithChildren<br />
        </p>
    </div>
</body>
</html>
